@import url("https://fonts.googleapis.com/css2?family=Inter&family=Outfit:wght@400;700&display=swap");

* {
  /* box-sizing: border-box; */
  font-family: Inter;
  margin: 0;
  padding: 0;
}
body {
  border: 2px solid red;
  background-color: black;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-container {
  width: 90vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  width: 80vw;
  height: 80vh;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.navbar {
  width: 80vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.navbar > .menu {
  border: 2px solid blue;
  width: 40vw;
  display: flex;
  justify-content: space-between;
  color: gray;
  font-weight: 600;
}
.grid-container {
  display: grid;
  grid-template-columns: 3 1fr;
  grid-template-rows: 3 1fr;
  height: 500px;
  width: 80vw;
  grid-template-areas:
    "i i b"
    "h h b"
    "a a a";
}
.large-img > img {
  width: 52vw;
  height: 200px;
  grid-area: i;
}
.black {
  margin-right: 0;
  width: 25.2vw;
  position: relative;
  right: -10px;
  height: 346px;
  background-color: black;
  grid-area: b;
  display: flex;
  flex-direction: column;
}
.black > .new {
  display: flex;
  justify-content: center;
  align-items: center;
  color: orange;
  height: 46px;
}
.new > .text {
  display: flex;
  justify-content: flex-start;
  /* border: 2px solid yellow; */
  width: 18vw;
}
.card {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.card > .text {
  width: 18vw;
  height: 80px;
  border-bottom: 1px solid white;
}
.black .VC {
  border-bottom: none;
}
.card > .text > h3 {
  font-size: 9;
}
.card h3 {
  /* border: 2px solid green; */
  font-size: 16px;
}
.card > p {
  font-size: 3px;
}
.card > h3 {
  font-size: 9;
}
.headline {
  display: flex;
  flex-direction: row;
  gap: 10px;
  grid-area: h;
  /* border: 2px dotted green; */
  position: relative;
  top: -15px;
  height: 120px;
  width: 52vw;
}
.caption {
  /* border: 2px solid gray; */
  width: 400px;
  font-weight: 900;
  font-size: 16px;
}
/* .caption > .row {
  border: 2px solid purple;
} */
.meta {
  /* border: 2px solid salmon; */
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  color: gray;
  font-weight: 500;
  gap: 20px;
}
.button {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(5, 85%, 60%);
  color: white;
  font-size: 9px;
  letter-spacing: 5px;
}
.blogs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-area: a;
  height: 100px;
}
.blogs img {
  height: 100px;
  width: 100px;
}
.blog {
  border: 2px solid aquamarine;
  display: flex;
  flex-direction: row;
  width: 25vw;
}
