@import url("https://fonts.googleapis.com/css2?family=Inter&family=Outfit:wght@400;700&display=swap");

* {
  /* box-sizing: border-box; */
  font-family: Inter;
  margin: 0;
  padding: 0;
}
body {
  border: 2px solid red;
  background-color: black;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-container {
  width: 90vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  width: 80vw;
  height: 80vh;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.navbar {
  width: 80vw;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar > .menu {
  border: 2px solid blue;
  width: 40vw;
  display: flex;
  justify-content: space-between;
  color: gray;
  font-weight: 600;
}
.grid-container {
  display: grid;
  grid-template-columns: 3 1fr;
  grid-template-rows: 3 1fr;
  height: 500px;
  width: 80vw;
  grid-template-areas: "i i b";
}
.large-img > img {
  width: 600px;
  height: 200px;
  grid-area: i;
}
.black {
  width: 200px;
  height: 500px;
  background-color: black;
  grid-area: b;
}
